* {
    color: white;
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}

/*
.navbar {

}
*/

/*
.project-list {

}
*/


/* Icons */
.fa-linkedin {
    padding: 20px;
}

.fa-github {
    padding: 20px;
}