* {
    color: white;
}

body {
    background-color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}


h2 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.about-me p {
    max-width: 60%;
}

.skills p {
    margin: 0;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.image {
    float: right;
}

.navbar {
    background-color: goldenrod;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    font-size: 2em;
    float: right;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar li:hover {
    background-color: #111;
    border-style: solid;
    border-width: 1px;
    border-color: white;
  }


.project-list li a:hover {
    background-color: goldenrod;
    border-style: solid;
    border-width: 1px;
    border-color: white;

}

.skills {
    display: flex;
    font-size: 1.25em;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Icons */
.fa-linkedin {
    padding: 20px;
}

.fa-github {
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 1.5em;
}